body {
  height: 600px;
  background: #f5f5f5;
}

table {
  tbody {
    tr {
      th {
        font-weight: 600;
        padding-right: 40px;
        text-align: left;
        border:1px solid #000;
      }
      td {
        padding-right: 40px;
        border: 1px solid #000;
      }
    }
  }
}

.perDevice:nth-child(7), .totalString:nth-child(7), .totalYearly:nth-child(7), .averageMonthly:nth-child(7) {
  font-weight: 600;
}
